ion-content {
  --background: transparent;
    width: 100%;
    background: url('../../../assets/img/bg.jpg');
    background-size: cover;
    background-position: center;
}

ion-button {
  height: 50px;
}
